img {
    height: 30vh;
    margin: 1vw;
}

.layered-images {
    position: relative;
    height: 30vh;
    margin-top: 5vh;
}
.layered-images > img {
    position: absolute;
}

.hidden-gui {
    display: none;
}

button {
    font-size: 2.5em;
    width: 28vw;
    height: 12vh;
    margin: 2vw;
}