img {
    height: 30vh;
    margin: 1vw;
}

.layered-images {
    position: relative;
    height: 30vh;
    margin-top: 5vh;
}
.layered-images > img {
    position: absolute;
}

.hidden-gui {
    display: none;
}

button {
    font-size: 4em;
    width: 25vw;
    height: 10vh;
    margin: .5em;
}